/* Form.css */

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #a1e89c;
  border-radius: 8px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border: 1px solid #32b139; */
}

h2 {
  outline: #32b139;
  text-align: center;
  color: #4caf50;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #a6e096;
  border-radius: 7px;
  box-sizing: border-box;
  outline: 1px solid #32b139;
}

button {
  background-color: #10c416;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  transition: transform 0.3s ease;
}

button:hover {
  background-color: #0ace14;
  transform: translateY(-5px);
}
#payment {
  align-items: center;
  justify-content: center;
  text-align: center;
}
